<div class="filtering">

  <ul>
    <li class="filter-heading">
      <a href="#" class="actionable" {{action 'toggleFiltersGroup' 'availablity'}}>
        {{check-box availabilityFilterOn}} Availablity
      </a>
    </li>
    {{#each filter in filtersGroupAvailability}}
      <li>
        <a href="#" class="actionable" {{action 'toggleFilter' filter.name}}>
          {{check-box filter.on}} {{filter.name}}
        </a>
      </li>
    {{/each}}
  </ul>

  <ul>
    <li class="filter-heading">
      <a href="#" class="actionable" {{action 'toggleFiltersGroup' 'genres'}}>
        {{check-box genresFilterOn}} Genres
      </a>
    </li>
    {{#each filter in filtersGroupGenres}}
      <li>
        <a href="#" class="actionable" {{action 'toggleFilter' filter.name}}>
          {{check-box filter.on}} {{filter.name}}
        </a>
      </li>
    {{/each}}
  </ul>


  {{#if 'message'}}
    <div {{bind-attr class=":messaging error:error:message"}}>
      {{fa-icon "fa-asterisk"}} {{{message}}}
    </div>
  {{/if}}

</div>
