<header>
	<nav>
		<a href="#" {{action 'toggleMenu'}}>{{fa-icon "fa-bars fa-3x"}}</a>
		{{#liquid-if 'menuOpen' class="submenu"}}
		<div class="sub-menu">
			<ul>
				<li>{{link-to 'Dashtboard' 'index'}}{{fa-icon "fa-arrow-right"}}</li>
				<li>{{link-to 'Add a Channel' 'add'}}{{fa-icon "fa-arrow-right"}}</li>
				<li>
					<a>Choose a Theme</a>
						<div class="choose-theme">
							<div class="available-themes">
								<ul>
									{{#each theme in themes}}
										<li {{bind-attr class="theme"}} {{action 'updateTheme' theme}}>
											{{active-check theme currentTheme}}
										</li>
									{{/each}}
								</ul>
						</div>

				</li>
			</ul>
		</div>
		{{/liquid-if}}
	</nav>
</header>


<main {{action 'mainClick'}}>
  <div {{bind-attr class=":outlet"}}>
    {{liquid-outlet}}
  </div>

	{{partial "footer"}}
</main>
