{{#if item.visible}}
  {{#unless item.isfiltered}}
    {{#if item.title}}
      <div class="channel">
        <a class="anchor" {{bind-attr name="item.anchor"}}></a>
        {{#if controller.editing}}
          <a href="#" class="actionable delete" {{action 'hideChannel' item.title}}>{{fa-icon "fa-minus"}}</a>
        {{/if}}
        <a {{bind-attr href="item.url" class=":actionable controller.editing:disabled:enabled" title="item.title"}}>
          <span class="item-title">{{item.title}}</span>
          <img {{bind-attr src="item.icon" alt="item.title"}} />
        </a>
      </div>
    {{/if}}
  {{/unless}}
{{/if}}
