<h2 class="page-title">{{fa-icon "fa-th-large"}} {{title}}</h2>
<div class="page-actions">


  <a href="#" {{action 'toggleFilters'}} {{bind-attr class="controller.currentlyFiltered:active"}}>
    <!--abstract this -->
    {{#if controller.filtering}}
      {{fa-icon "fa-close"}}
    {{else}}
      {{fa-icon "fa-filter"}}
    {{/if}}
  </a>
  <a href="#" {{bind-attr class="controller.editing:editing:blank"}} {{action 'editDash'}}>
    {{#if controller.editing}}
      {{fa-icon "fa-close"}}
    {{else}}
      {{fa-icon "fa-pencil"}}
    {{/if}}
  </a>
  {{#link-to 'add'}}{{fa-icon "fa-plus"}} Add a channel{{/link-to}}
</div>



{{#if controller.filtering}}
  {{live-filtering model=this}}
{{/if}}

<div class="all-channels">
  {{#each item in librarySortAlpha}}
    {{partial "dash-channels"}}
  {{/each}}
</div>
