{{#unless item.isfiltered}}
  {{#if item.title}}
    <div {{bind-attr class="item.visible:installed-channel:new-channel item.searchResult:search-result:"}}>
      <a href="#" {{bind-attr class="item.visible:installed:add"}} {{action 'addChannel' item.title}}>
        {{#if item.visible}}
          {{fa-icon "fa-check"}}
        {{else}}
          {{fa-icon "fa-plus"}}
        {{/if}}
      </a>
      <a {{bind-attr href="item.url" title="item.title"}}>
        <img {{bind-attr src="item.icon" alt="item.title"}} />
      </a>
    </div>
  {{/if}}
{{/unless}}
