<div class="page-actions grid">
  <a href="#" {{action 'toggleFilters'}} {{bind-attr class=":actionable controller.currentlyFiltered:active"}}>
    {{#if controller.filtering}}
      {{fa-icon "fa-close"}}
    {{else}}
      {{fa-icon "fa-filter"}}
    {{/if}}
  </a>
  {{#link-to 'dashtboard' classNames="actionable"}}{{fa-icon "fa-close"}}{{/link-to}}
</div>

{{#liquid-if controller.filtering use="crossFade"}}
  {{live-filtering model=this}}
{{/liquid-if}}
