<div class="page-actions">
  <a href="#" {{action 'toggleFilters'}} {{bind-attr class=" controller.currentlyFiltered:active"}}>
    {{#if controller.filtering}}
      {{fa-icon "fa-close"}}
    {{else}}
      {{fa-icon "fa-filter"}}
    {{/if}}
  </a>
  {{#link-to 'index'}}{{fa-icon "fa-close"}}{{/link-to}}
</div>

{{#if controller.filtering}}
  {{live-filtering model=this}}
{{/if}}
